@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

body {
  background-color: #f0f0f0;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


.form_container{
  display: flex;
  justify-content: center;
}

.container_design{
  margin-top: 30px;
  display: flex;
  width: 100%;
  max-width: 880px;
  border: 1px solid #333;
  border-radius: 10px;
}
